{%extends "./base.html"%} {% load static %} {% load bootstrap_icons %} 
{% block title%} Home {% endblock %} {% load Filters%}{% block content %} 
<style>
  .gradient-custom {
    background-image: url({{"/Resource/images/bgcolor.jpg"}});
    background-size: cover;
    width: 100%;
  };
  .scroll{
    height: 25vh;
    overflow: auto;
  }
</style>
<div class="gradient-custom  p-5 d-flex justify-content-center ">
  <div class="bg-light col-8 rounded">
    <h1 class="mx-5 mt-5 fw-bold">{{product.name}}</h1>
    <div class="row mx-3">
      <div class="col-6  my-3 p-3 ">
        <div class="d-flex justify-content-center mt-5">
        <img src="{{product.image.url}}"   height="400"/>
        </div>
      </div>
      <div class="col-6 my-3">
        <div class=" bg-light  p-5">
          <div>
            <h2 class="fw-bold">{{product.brand}}</h2>
            <div class="mb-3">
            {% for i in 5|times %} {% if i < product.rating %}
            <i>{% bs_icon 'star-fill' size='1em'%}</i>
            {% else%}
            <i>{% bs_icon 'star' size='1em'%}</i>
            {% endif %} {% endfor %}
            </div>
            {% if product.specialOffer == True %}
            <h3 class="fw-light">{{product.specialPrice}} PLN</h3>
            <h5 class="text-muted fw-light fst-italic text-decoration-line-through">
              {{product.price}}
            </h5>
            {% else %}
            <h3 class="fw-light">{{product.price}} PLN</h3>
            {% endif %}
          </div>
          <div>
            <h4>Description:</h4>
            <p class="text-wrap">{{product.description}}<p>
          </div>
          <form action="" method="POST">
          <div>
            <label class="form-label">Number of items:</label>
            <input type="Number" id="qute" name="qt" class="form-control w-50"  value="1">
          </div>
          
            {% csrf_token %}
          <div class="row my-3">            
            <div class="w-50">
              <button class="btn btn-dark w-100 col" id="add-button" val={{product.id}} name="addToCart" type="submit">Add to Cart</button>
            </div></form>
            <div class="w-50">
              <button class="btn btn-dark w-100 col" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Buy Now</button>
            </div>
          </div>            
          
          
          {% if product.subCategory.category.id == 1  %}
          <div class="row my-3">
            <button class="btn btn-dark w-100 col m-2" type="button"  onclick="location.href='{{product.Customization}}';">Customize</button>
          </div>   
          {% endif %}       
        </div>
      </div>
    </div>
    <div class="p-5">
      <h3>Specification:</h3>
      <table class="table table-striped mt-4">
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Brand</td>
            <td>{{product.brand}}</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Model</td>
            <td>{{product.name}}</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Type</td>
            <td>{{product.subCategory}}</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Rating</td>
            <td>
              {% for i in 5|times %} {% if i < product.rating %}
              <i>{% bs_icon 'star-fill' size='1em'%}</i>
              {% else%}
              <i>{% bs_icon 'star' size='1em'%}</i>
              {% endif %} {% endfor %}
            </td>
          </tr>
          {% if product.customization %}
          
          <tr>
            <th scope="row">5</th>
            <td>Top Material</td>
            <td>
               {{product.customization.topMaterial}}
            </td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Body Material</td>
            <td>
              {{product.customization.bodyMaterial}}
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Pickups</td>
            <td>
              {{product.customization.pickups}}
            </td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Color</td>
            <td>
              {{product.customization.Color}}
            </td>
          </tr>
          
          {% endif %}
        </tbody>
      </table>
      
    </div>
    <div class="mx-5 mb-5" >
      <h3>
        Customer ratings:</h3>
      <div style="height: 25vh; overflow: auto;">
        
      {% if not rating %}
      <div class="border p-3 m-2 border-warning" >
        <p class="h5 text-warning">
          The product has not been rated yet</p>
      </div>
      {% endif %}
      {% for i in rating  %}
      
      
      
      <div class="card mx-5 mb-2">
      <h5 class="card-title">User: {{i.user}}</h5>
      <div class="col">
        <h5 class="card-text col p-2">
        Rate:        
        {% if 5 == i.rate %}
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        {% elif 4 == i.rate%}
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        {% elif 3 == i.rate%}
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        {% elif 2 == i.rate%}
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-solid fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        {% elif 1 == i.rate%}
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        <i class="fa fa-star-o"></i>
        {% endif %}  </h5>  
      </div>
      
      <div>
        <h5 class="card-text p-2">Comments:</h5>
        <p class="p-2">{{i.comment}}</p>
      </div>
      </div>
      {% endfor %}
    </div>
    </div>
  </div>
</div>

<!--modal-->
<div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" method="post"  id="IDOrder">
          <div class="row row-cols-1 row-cols-md-2 g-2">
          
            {% csrf_token %}
          {% for filed in orderForm  %}
          <div class="form-group py-3">{{filed}}</div>
          {% endfor %}
          
          <div class="form-group py-3">
            <select name="city" class="form-control" id="city-select">
              {% for city in cities %}
              <option class="form-control" value="{{city.id}}">{{city.name}}</option>
              {% endfor %}
            </select>
            </div>
            <div  class="form-group py-3">
            <input type="tel" id="phone" class="form-control" name="phone" placeholder="Phone-number" pattern="[0-9]{9}" required>
            </div>
          </div>
        </form>


          <div>
            <h4 class="mb-3">Payment</h4>
            <div class="d-block my-3">
              <div class="custom-control custom-radio">
                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked=""  required="">
                <label class="custom-control-label" for="credit">Credit card</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="blik" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="debit">Blik</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                <label class="custom-control-label" for="paypal">PayPal</label>
              </div>
            </div>

            <div id="creditCard" style="display:block">
            <div class="row" >
              <div class="col-md-6 mb-3">
                <label for="cc-name">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-muted">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="cc-number">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-3">
                <label for="cc-expiration">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label for="cc-cvv">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
          </div>

          <div id="blikForm" style="display: none;">
          <label for="">Kod Blik</label>
          <input type="text" name="blik" id="">
          </div>

          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-dark" form="IDOrder" name="placeOrder" value="placeOrder">Place Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  let radios = document.getElementsByName('paymentMethod');

radios[0].addEventListener('change',CardCheckbox);
radios[1].addEventListener('change',CardCheckbox);
radios[2].addEventListener('change',CardCheckbox);

function CardCheckbox(){
  let radios = document.getElementsByName('paymentMethod');
  var cardDiv= document.getElementById('creditCard');
  var blikDiv= document.getElementById('blikForm');

  for ( let i=0; i< radios.length ;i++){
    if (radios[i].checked)
    {
       switch(radios[i].id){
          case 'credit':
            cardDiv.style.display="block";
            blikDiv.style.display="none";
            break;
          case 'blik':
            cardDiv.style.display="none";
            blikDiv.style.display="block";
            break;
          default:
            cardDiv.style.display="none";
            blikDiv.style.display="none";
       }
    }
  }
}
</script>
{% endblock %}
